<div id="content-wrapper">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-xs-12">
            <div class="main-box infographic-box clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{game.question.text}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div ui-ace="{mode: 'javascript',onChange: aceChanged}" ng-model="code"></div>
                            </div>
                            <div class="col-md-1">
                                <div ng-repeat="unitTest in game.unitTests" class="col-md-12">
                                    <p>
                                        <img src="http://www.pd4pic.com/images/red-button-badge-circle-gloss.png" width="100%">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <button class="btn btn-success" ng-click="build(code)">BUILD</button>
                <!-- Button trigger modal -->
                <button class="btn btn-primary" ng-click="broadcastVictory()" data-toggle="modal" data-target="#myModal">
                  Dev Win
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div align="center"><h1>VICTORY</h1></div>
                        <h4>Experience:</h4>
                        <h5>+724</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr ng-repeat="player in player">
                                        <td>
                                             {{player.username}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="redirectToHome()" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="defeat" tabindex="-1" role="dialog" aria-labelledby="defeatModal" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div align="center"><h1>DEFEAT</h1></div>
                        <h4>Experience:</h4>
                        <h5>+200</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width: 47%;">
                            <span class="sr-only">47% Complete</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr ng-repeat="player in player">
                                        <td>
                                             {{player.username}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="redirectToHome()" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>




            </div>

        </div>
        <div class="col-md-4">
            <div ng-repeat="player in player" class="col-md-12">
                <div class="main-box clearfix">
                    <header class="main-box-header clearfix">
                        <h6 class="pull-left">{{player.username}}</h6>
                    </header>
                    <div class="main-box-body clearfix">
                        <p class="code-box">{{player.typedCode}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>