<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="login-box-inner">
                            <form role="form">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input class="form-control" type="text" ng-model='username' placeholder="username">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" class="form-control" ng-model='password' placeholder="Password">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="submit" ng-click="submit(username,password)" class="btn btn-success col-xs-12" value="Login">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>